#!/bin/sh

curl -4 -s "https://api.dynu.com/nice/update?hostname={{ dynu_simple_client_domain }}&alias={{ dynu_simple_client_alias }}&myip=10.0.0.0&username={{ dynu_simple_client_username }}&password={{ dynu_simple_client_password }}" 2>&1 \
        | grep -v "^nochg\|^good" \
        | sed "s/^/$(date):\nProblem with dynu.net $HOSTNAME: /" \
        | /usr/local/bin/sendMessages.sh
